<!doctype html>
<html>
<head>    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <center>
        <h1>
              Kothok: First Open-Domain Bangla Conversational Hybrid Chatbot
        </h1>
      </center>
  <div class="box"></div>
      <div class="boxed">
        <div>
          <div id="chatbox">
            <img
              src="https://e7.pngegg.com/pngimages/498/917/png-clipart-computer-icons-desktop-chatbot-icon-blue-angle.png"
              alt="Kothok"
              style="width:80px;height:80px;"
            />
            <p class="botText">
              <span>হাই, আমার নাম কথক</span>
            </p>
          </div>
          <div id="userInput">
            <input id="textInput" type="text" name="msg" placeholder="Message" />
          </div>
        </div>
        <script>
          function getBotResponse() {
            var rawText = $("#textInput").val();
            var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
            $("#textInput").val("");
            $("#chatbox").append(userHtml);
            document
              .getElementById("userInput")
              .scrollIntoView({ block: "start", behavior: "smooth" });
            $.get("/get", { msg: rawText }).done(function(data) {
              var botHtml = '<p class="botText"><span>' + data + "</span></p>";
              $("#chatbox").append(botHtml);
              document
                .getElementById("userInput")
                .scrollIntoView({ block: "start", behavior: "smooth" });
            });
          }
          $("#textInput").keypress(function(e) {
            if (e.which == 13) {
              getBotResponse();
            }
          });
  </script>
      </div>
</body>

</html>
