<!doctype html>
<html>
<head>    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- <style>
#userInput {
  margin: auto;
  width: 50%;
  float: center;
}
.botText {
  margin: auto;
  width: 50%;
  float: center;
}
</style> -->
</head>
<body>

    <center>
        <h1>
              Kothok: First Open-Domain Bangla Conversational Hybrid Chatbot
        </h1>

  <div class="box"></div>
      <div class="boxed"  >
        <div>
          <div id="chatbox">
            <img
              src="https://support.upwork.com/hc/article_attachments/360040474034/chatbot-data.png"
              alt="Kothok"
              style="width:100px;height:100px;"
            />
            <p class="botText">
              <span>হাই, আমার নাম কথক</span>
            </p>
          </div>
          <div id="userInput">
            <input id="textInput" type="text" name="msg" placeholder="Message" />
          </div>
        </div>
        </center>

        <script>
          function getBotResponse() {
            var rawText = $("#textInput").val();
            var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
            $("#textInput").val("");
            $("#chatbox").append(userHtml);
            document
              .getElementById("userInput")
              .scrollIntoView({ block: "start", behavior: "smooth" });
            $.get("/get", { msg: rawText }).done(function(data) {
              var botHtml = '<p class="botText"><span>' + data + "</span></p>";
              $("#chatbox").append(botHtml);
              document
                .getElementById("userInput")
                .scrollIntoView({ block: "start", behavior: "smooth" });
            });
          }
          $("#textInput").keypress(function(e) {
            if (e.which == 13) {
              getBotResponse();
            }
          });
  </script>
      </div>
</body>

</html>
